body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
div.centered {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}
span.logo {
  display: block;
  unicode-bidi: embed;
  font-family: 'Cutive Mono', monospace;
  white-space: pre;
}
