<p>
  How much did I pay per-serving for today's dinner, and how does that compare to other meal plans I've been eating? The price for this can of soup seems like a good deal, but is the can smaller than before? If I knew more about my food, I might be able to get more for my money.
</p>
<p>
  Recipe.Report is an alpha open-source project that will be available soon. If you would like to learn more about Recipe.Report, please explore these links.
</p>
<p>
  <h2>my.Recipe.Report</h2>
  You can visit <a href='https://my.recipe.report'>my.Recipe.Report</a> to see the web application. This is the first user application being developed for the Recipe.Report system. Once ready, this is where you will sign in and start benefiting from great insights about your foods.
</p>
<p>
  <h2>Development</h2>
  If you are a software developer, or just curious about how Recipe.Report works behind the scenes, you can access the complete source code and the back-end API server.
  <ol>
    <li><a href='https://github.com/nothingworksright/my.recipe.report'>Source code for the web app</a>.</li>
    <li><a href='https://api.recipe.report'>The API server root route</a>.</li>
    <li><a href='https://github.com/nothingworksright/api.recipe.report'>Source code for the API</a>.</li>
    <li><a href='https://nothingworksright.github.io/api.recipe.report/'>Documentation for the API</a>.</li>
  </ol>
</p>
<p>
  Recipe.Report is being developed by <a href='https://www.laughingstocks.dev/'>team laughingstocks</a> of the <a href='https://www.nothingworksright.io'>nothingworksright</a> software organization.
</p>
