<p>
  How much did I pay per-serving for the dinner that I cooked today? How does that compare to other meal plans I've been eating? The price for this can of soup seems like a good deal, but is the can smaller than before? If I knew more about my food, I might be able to get more for my money.
</p>
<p>
  If you would like to learn more about Recipe.Report, please explore these links.
</p>
<p>
  <h2>my.Recipe.Report</h2>
  You can visit <a href='https://my.recipe.report' target='_blank'>my.Recipe.Report</a> to see the web application rough draft. This is the first user application being developed for the Recipe.Report system. Once ready, this is where you will sign in and start benefiting from great insights about your foods.
</p>
<p>
  <h2>Development</h2>
  If you are a software developer, or just curious about how Recipe.Report works behind the scenes, you can access the complete source code and the backend REST API.
  <ol>
    <li><a href='https://github.com/unblinking/recipe-report' target='_blank'>Source code monorepo</a>.</li>
    <li><a href='https://api.recipe.report' target='_blank'>The API server root route</a>.</li>
    <li><a href='https://docs.recipe.report/' target='_blank'>Documentation for the API</a>.</li>
  </ol>
</p>
<p>
  Recipe.Report is maintained by <a href='https://github.com/jmg1138' target='_blank'>jmg1138</a> of the <a href='https://www.unblinking.io' target='_blank'>unblinking I/O</a> software organization.
</p>
