<p>
  How much did I pay per-serving for the dinner that I cooked today? How does that compare to other meal plans I've been eating? The price for this can of soup seems like a good deal, but is the can smaller than before? If I knew more about my food, I might be able to get more for my money.
</p>
<p>
  Recipe.Report is maintained by <a href='https://github.com/jmg1138' target='_blank'>jmg1138</a> of the <a href='https://www.unblinking.io' target='_blank'>unblinking I/O</a> software organization.
</p>
