<span class='logo'>
&nbsp;____&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_
|&nbsp;&nbsp;_&nbsp;\&nbsp;___&nbsp;&nbsp;___(_)_&nbsp;__&nbsp;&nbsp;&nbsp;___
|&nbsp;|_)&nbsp;/&nbsp;_&nbsp;\/&nbsp;__|&nbsp;|&nbsp;'_&nbsp;\&nbsp;/&nbsp;_&nbsp;\
|&nbsp;&nbsp;_&nbsp;<&nbsp;&nbsp;__/&nbsp;(__|&nbsp;|&nbsp;|_)&nbsp;|&nbsp;&nbsp;__/
|_|_\_\___|\___|_|&nbsp;.__/&nbsp;\___|
|&nbsp;&nbsp;_&nbsp;\&nbsp;___&nbsp;_&nbsp;__&nbsp;&nbsp;|_|_&nbsp;&nbsp;_&nbsp;__|&nbsp;|_
|&nbsp;|_)&nbsp;/&nbsp;_&nbsp;\&nbsp;'_&nbsp;\&nbsp;/&nbsp;_&nbsp;\|&nbsp;'__|&nbsp;__|
|&nbsp;&nbsp;_&nbsp;<&nbsp;&nbsp;__/&nbsp;|_)&nbsp;|&nbsp;(_)&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;|_
|_|&nbsp;\_\___|&nbsp;.__/&nbsp;\___/|_|&nbsp;&nbsp;&nbsp;\__|
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|_|
</span>
